*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#f5f5f5;
}


header{
background:#8B0000;
color:white;
text-align:center;
padding:30px;
}


nav{
background:#333;
padding:15px;
text-align:center;
}


nav a{
color:white;
text-decoration:none;
margin:15px;
}


.hero{

height:350px;

background:url("images/charminar.jpg");

background-size:cover;

background-position:center;

color:white;

text-align:center;

padding-top:120px;

}


.hero h1{
font-size:45px;
}



section{
padding:40px;
}



h2{

text-align:center;

color:#8B0000;

margin-bottom:25px;

}



.search-section{

text-align:center;

background:white;

}



#searchBox{

width:50%;

padding:15px;

font-size:18px;

border-radius:25px;

}



.about{

background:white;

text-align:center;

font-size:18px;

}



.container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}



.card{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px gray;

}



.card img{

width:100%;

height:230px;

object-fit:contain;

background:white;

}



.card h3{

padding:15px;

color:#8B0000;

}



.card p{

padding:15px;

}



.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.gallery img{

width:100%;

height:250px;

object-fit:contain;

background:white;

border-radius:15px;

}



input,textarea{

width:60%;

padding:12px;

margin:10px;

}



textarea{

height:100px;

}



button{

background:#8B0000;

color:white;

padding:12px 30px;

border:none;

border-radius:20px;

}



footer{

background:#333;

color:white;

text-align:center;

padding:20px;

}
table{

width:90%;

margin:auto;

border-collapse:collapse;

background:white;

}


th{

background:#8B0000;

color:white;

padding:15px;

}


td{

padding:12px;

border:1px solid gray;

text-align:center;

}